<footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="footer-copyright">
    <div class="container">
      <span style="margin-right: 10px;">© 2022 Copyright</span>
      This is a prototype of Sphynx version 1.0 developed by
      <a
        href="https://www.linkedin.com/in/konstantinos-angelis-615963123/"
        target="blank"
      >Konstantinos Angelis</a>
    </div>
  </div>
</footer>