body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

p {
  margin: 10px 0 !important;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.login-title {
  margin-left: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.logo-nav {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-top: 15px;
}

.brand-logo {
  color: rgb(216, 186, 53) !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-icon {
  color: #fff;
  font-size: 2.5rem;
}

.fa-small {
  font-size: 16px !important;
}

.dash-status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
}

.seperator {
  display: flex;
  justify-content: center;
}

.left {
  margin-right: 2px;
}
.right {
  margin-left: 2px;
}

.img-small {
  width: 180px;
}
